.container-footer {
  border-top: 1px solid rgb(229, 229, 229);
  padding-bottom: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.footer__desc {
  line-height: 16px;
  color: var(--font-color);
}

.footer__link {
  color: rgb(243, 129, 129);
}

.contact-form {
  display: flex;
}

.contact-form__input {
  height: 40px;
  width: 228px;
  padding-left: 10px;
  border: 1px solid rgb(231, 231, 231);
}

.contact-form__btn {
  border: none;
  background-color: rgb(149, 225, 211);
  color: rgb(255, 255, 255);
  width: 150px;
  height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}


.contact-form__input::placeholder {
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: var(--second-font-color);
}
