.header-img {
  background-image: linear-gradient(90deg,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)),
    url(../images/header-pic.jpg);
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .header-img {
    background-image: linear-gradient(90deg,
        rgba(252, 227, 138, 0.9),
        rgba(243, 129, 129, 0.9)),
      url(../images/header-pic@2x.jpg);
  }
}

.section__header {
  padding-top: 28px;
  padding-bottom: 230px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 182px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-width: 620px;
  line-height: 16px;
  margin: 0;
  align-items: baseline;
}

.header-list__svg {
  fill: #fff;
  visibility: visible;
  width: 18px;
  height: 18px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
}

.header-list__link {
  text-transform: uppercase;
  color: #fff;
}

.header-list__item {
  position: relative;
}

.header-list__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(252, 227, 138);
  position: absolute;
  bottom: -10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.header-list__item:hover .header-list__link::after {
  visibility: visible;
  opacity: 1;
}

.header-list__item:hover .header-list__link {
  color: rgb(252, 227, 138);
}

.header-list__item:hover .header-list__svg {
  fill: rgb(252, 227, 138);
}

.header__title span {
  font-family: var(--title-font);
  font-size: 72px;
  line-height: 86px;
  color: #fff;
  display: block;
  margin-bottom: 45px;
  text-transform: capitalize;
}

.header__title {
  font-size: 150px;
  line-height: 180px;
  color: #fff;
  text-transform: uppercase;
  max-width: 820px;
  margin: 0 auto 110px;
}

.header__link-more {
  border: solid 3px #fff;
  padding: 12px 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
